.Timer {
    box-sizing: border-box;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(44, 0, 202);
    color: #fff;
  }