

body {
  
  color:white;
  font-family:"Cooper Black", sans-serif;
  background-image: url("./components/background.png");
  background-size: cover;
}

h1 {
  font-family: "Cooper Black", sans-serif;
  color:white
  
}

.title {
  text-align: center;
}

.timer{
  text-align: center
}